RAG TCU - Parecer Técnico (Anti-Alucinação).json
{
  "name": "RAG TCU - Parecer Técnico (Anti-Alucinação)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-tcu",
        "responseMode": "onReceived",
        "options": {},
        "responseData": "firstEntryJson"
      },
      "id": "fa568de7-c9aa-4be9-acfa-cc2fd9bf163b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "ae610e15-6290-4764-868c-7f8ee425ebb9"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn [{ json: {\n  titulo:     body.titulo     || 'Não informado',\n  problema:   body.problema   || body.descricao || 'Não informado',\n  descricao:  body.descricao  || '',\n  user:       body.user       || '',\n  parecer_id: body.parecer_id || ''\n}}];"
      },
      "id": "7d2fb73d-5372-4bac-8ca5-281924d63d7b",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.problema }}",
        "options": {
          "systemMessage": "### EXTRATOR DE TERMOS JURÍDICOS PARA RAG ###\n\nVocê é um módulo especialista em montar queries de busca (Full-Text Search) no banco do TCU.\n\nRetorne APENAS um JSON válido. Sem explicações. Sem markdown.\nFormato:\n{\"domain\":\"string\",\"query_ilike\":\"string\",\"termos\":[\"string\"],\"confidence\":0.0}\n\nRegras:\n1. domain: área jurídica ampla.\n2. query_ilike: Esta á a BUSCA EXATA que baterá no banco. Use as palavras mais fortes e cruciais do problema. VOCÊ DEVE USAR o operador OR EM MAIÚSCULO se quiser abranger sinônimos, e usar aspas duplas (\"\") se precisar que uma citação componha uma frase cravada. \nEXEMPLOS DE QUERY PERFEITA: \n\"revisão de contrato\" OR \"fato superveniente\" OR locação\nou\n\"sobrepreço\" OR (BDI -encargos)\n3. termos: 4 a 7 termos complementares."
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Agente 1 — Extrair Termos",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "baseURL": "https://openrouter.ai/api/v1",
        "model": "nvidia/llama-3.1-nemotron-ultra-253b-v1:free",
        "options": {
          "temperature": 0.1,
          "maxTokens": 512,
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-llm1-0001-0001-000000000001",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter (via OpenAI compat)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var r = $input.first().json;\nvar txt = r.text || r.output || (r.content && r.content[0] && r.content[0].text) || JSON.stringify(r);\n\nvar q = { termos: [], query_ilike: 'contrato', confidence: 0.5, domain: '' };\nvar s = txt.indexOf('{'); var e = txt.lastIndexOf('}');\nif (s > -1 && e > s) { try { q = JSON.parse(txt.slice(s, e+1)); } catch(err) {} }\n\n// Remove aspas ou apóstrofos que a IA teima em gerar para o FTS não quebrar\nvar query_clean = (q.query_ilike || 'contrato');\nquery_clean = query_clean.replace(/[\"']/g, '');\n\nvar wb = $('Normalizar Input').first().json;\nreturn [{ json: {\n  query_ilike: query_clean,\n  termos:      q.termos      || [],\n  confidence:  q.confidence  || 0.5,\n  domain:      q.domain      || '',\n  titulo:      wb.titulo,\n  problema:    wb.problema,\n  descricao:   wb.descricao,\n  user:        wb.user,\n  parecer_id:  wb.parecer_id\n}}];"
      },
      "id": "42300a58-930a-426b-8ce9-1305bf8c36ea",
      "name": "Formatar Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yojodrqykuhytdemmrsr.supabase.co/rest/v1/rpc/search_jurisprudencia_rag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlvam9kcnF5a3VoeXRkZW1tcnNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2OTA1OTgsImV4cCI6MjA4NzI2NjU5OH0.R98fcu5iEzhDotFIiqT8e4rzcJELon2p2sqBMw-sja0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlvam9kcnF5a3VoeXRkZW1tcnNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2OTA1OTgsImV4cCI6MjA4NzI2NjU5OH0.R98fcu5iEzhDotFIiqT8e4rzcJELon2p2sqBMw-sja0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query_ilike }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14e6c831-2fa5-4e8c-ab37-e9127f2534e1",
      "name": "Buscar no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var resultados = $input.all();\nvar qn = $('Formatar Query').first().json;\nvar docs = [];\nif (resultados && resultados.length > 0) {\n  if (resultados.length === 1 && Array.isArray(resultados[0].json)) {\n    docs = resultados[0].json;\n  } else {\n    docs = resultados.map(item => item.json).filter(doc => Object.keys(doc).length > 0);\n  }\n}\n\nfunction stripHtml(html) {\n  if (!html) return '';\n  return html.replace(/<[^>]*>?/gm, ' ').replace(/\\s+/g, ' ').trim();\n}\n\n// ─── Filtro de consistência temporal ─────────────────────────────────────────\n// Exclui documentos com citações anacrónicas (ex: acórdão de 2008 citando lei de 2021)\nfunction isTemporallyConsistent(doc) {\n  var dataPub = doc.data_pub || '';\n  var ano = dataPub ? parseInt(dataPub.substring(0, 4)) : null;\n  var texto = (doc.ementa || '') + ' ' + (doc.excerto || '') + ' ' + (doc.snippet || '');\n\n  if (ano && ano < 2021 && texto.includes('14.133')) {\n    return false; // acórdão anterior a 2021 não pode citar Lei 14.133/2021\n  }\n  if (ano && ano < 1993 && texto.includes('8.666')) {\n    return false; // acórdão anterior a 1993 não pode citar Lei 8.666/1993\n  }\n  return true;\n}\n\nvar docsFiltrados = docs.filter(isTemporallyConsistent);\nvar removidos = docs.length - docsFiltrados.length;\n\nvar contexto = docsFiltrados.slice(0, 12).map(function(doc, i) {\n  var citacao     = doc.citacao      || 'Precedente TCU';\n  var temConteudo = doc.tem_conteudo;\n  var ementa      = stripHtml(doc.ementa  || '').substring(0, 500);\n  var snippet     = stripHtml(doc.snippet || '').substring(0, 400);\n  var excerto     = stripHtml(doc.excerto || '').substring(0, 400);\n  var conteudo    = excerto || ementa || snippet || '';\n\n  var res = '[' + (i+1) + '] ' + citacao + '\\n';\n\n  if (!temConteudo || conteudo.length < 30) {\n    res += '⚠️ SEM CONTEÚDO DISPONÍVEL NA BASE — NÃO CITAR ESTE DOCUMENTO\\n';\n  } else {\n    res += 'Conteúdo: ' + conteudo + '\\n';\n    if (snippet && snippet.trim() !== ementa.trim() && snippet.length > 30) {\n      res += 'Trecho relevante: ' + snippet;\n    }\n  }\n  return res;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{ json: {\n  problema:                qn.problema,\n  titulo:                  qn.titulo,\n  descricao:               qn.descricao,\n  user:                    qn.user,\n  parecer_id:              qn.parecer_id,\n  termos_buscados:         qn.termos,\n  total_encontrado:        docs.length,\n  filtrados_temporalmente: removidos,\n  contexto_jurisprudencia: contexto\n}}];"
      },
      "id": "972ea061-5ddc-45fc-a9c4-57fcb16b3906",
      "name": "Formatar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TÍTULO: {{ $json.titulo }}\n\nPROBLEMA:\n{{ $json.problema }}\n\nCONTEXTO JURISPRUDENCIAL ({{ $json.total_encontrado }} documentos encontrados):\n{{ $json.contexto_jurisprudencia }}",
        "options": {
          "systemMessage": "Você é um Assessor Jurídico Sênior especializado em Controle Externo e Jurisprudência do TCU.\n\n════════════════════════════════════════\nREGRAS ABSOLUTAS DE GROUNDING\n════════════════════════════════════════\n▸ CITE APENAS documentos do \"CONTEXTO JURISPRUDENCIAL\" fornecido.\n▸ Use a citação EXATAMENTE como aparece no campo [N] do contexto.\n▸ Quando a citação contiver \"verifique colegiado no portal\", use esse texto e NÃO tente corrigir ou confirmar o colegiado.\n▸ Documentos marcados com \"⚠️ SEM CONTEÚDO DISPONÍVEL NA BASE — NÃO CITAR ESTE DOCUMENTO\" devem ser completamente ignorados. Não os mencione, não os cite, não deduza o que eles dizem.\n▸ Para cada documento citado, descreva APENAS o que está no campo \"Conteúdo\" ou \"Trecho relevante\" daquele documento específico. NUNCA use seu conhecimento de treinamento para completar ou substituir o conteúdo ausente.\n▸ Se o conteúdo de um documento for insuficiente para sustentar uma proposição, NÃO a faça. Declare: \"O contexto disponível não contém detalhes suficientes sobre este ponto.\"\n▸ JAMAIS invente artigos de lei, súmulas ou acórdãos além dos presentes no contexto.\n▸ Se o contexto for insuficiente para o tema, escreva: \"A base consultada não retornou precedentes específicos sobre este ponto. Recomenda-se pesquisa direta em www.tcu.gov.br.\"\n\n════════════════════════════════════════\nESTRUTURA OBRIGATÓRIA (Markdown)\n════════════════════════════════════════\n\n# PARECER TÉCNICO JURÍDICO\n**Assunto:** [título]\n**Órgão de Referência:** Tribunal de Contas da União\n\n---\n\n## 1. RELATÓRIO\nSíntese objetiva do problema. Não copie o enunciado.\n\n## 2. ENQUADRAMENTO JURÍDICO\nRegime jurídico aplicável. Cite apenas leis e artigos que você tem certeza exata.\n\n## 3. FUNDAMENTAÇÃO\n\n### 3.1 Entendimentos do TCU Aplicáveis\nPara cada documento com conteúdo no CONTEXTO:\n- Use a citação exatamente como está no campo [N]\n- Descreva APENAS o que o campo \"Conteúdo\" ou \"Trecho\" diz\n- Explique a pertinência ao caso concreto\n\n### 3.2 Análise do Caso Concreto\nAplique os entendimentos aos fatos. Aponte convergências e lacunas.\n\n## 4. CONCLUSÃO\n**A conduta é: [PERMITIDA / VEDADA / CONDICIONADA]**\nVeredito com fundamento direto nos documentos citados.\n\n## 5. FONTES CONSULTADAS\nListe todos os documentos citados: citação, tipo, ano.\n\n---\n*Parecer baseado na jurisprudência disponível na base de dados do TCU. Verifique todas as referências em www.tcu.gov.br antes do uso oficial.*\n\n════════════════════════════════════════\nPADRÕES\n════════════════════════════════════════\n▸ Mínimo 500 palavras\n▸ Linguagem técnico-jurídica, impessoal\n▸ Não mencione que é uma IA"
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Agente 2 — Gerar Parecer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1420,
        0
      ]
    },
    {
      "parameters": {
        "baseURL": "https://openrouter.ai/api/v1",
        "model": "nvidia/llama-3.1-nemotron-ultra-253b-v1:free",
        "options": {
          "temperature": 0.3,
          "maxTokens": 4096,
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-llm2-0002-0002-000000000002",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1420,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter (via OpenAI compat)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var r = $input.first().json;\nvar parecer = r.text || r.output || (r.content && r.content[0] && r.content[0].text) || JSON.stringify(r);\nreturn [{ json: { output: parecer } }];"
      },
      "id": "70161167-0f2b-46bc-ac7f-f57593909118",
      "name": "Extrair Parecer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "2b796842-c522-46d3-9785-9b53c57b30aa",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1900,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://yojodrqykuhytdemmrsr.supabase.co/rest/v1/pareceres?id=eq.{{ $('Normalizar Input').first().json.parecer_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlvam9kcnF5a3VoeXRkZW1tcnNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2OTA1OTgsImV4cCI6MjA4NzI2NjU5OH0.R98fcu5iEzhDotFIiqT8e4rzcJELon2p2sqBMw-sja0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlvam9kcnF5a3VoeXRkZW1tcnNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2OTA1OTgsImV4cCI6MjA4NzI2NjU5OH0.R98fcu5iEzhDotFIiqT8e4rzcJELon2p2sqBMw-sja0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.output }) }}",
        "options": {}
      },
      "id": "supasave-001-0001-0001-000000000001",
      "name": "Salvar Parecer no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Agente 1 — Extrair Termos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente 1 — Extrair Termos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente 1 — Extrair Termos": {
      "main": [
        [
          {
            "node": "Formatar Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Query": {
      "main": [
        [
          {
            "node": "Buscar no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar no Supabase": {
      "main": [
        [
          {
            "node": "Formatar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Contexto": {
      "main": [
        [
          {
            "node": "Agente 2 — Gerar Parecer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente 2 — Gerar Parecer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente 2 — Gerar Parecer": {
      "main": [
        [
          {
            "node": "Extrair Parecer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Parecer": {
      "main": [
        [
          {
            "node": "Salvar Parecer no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "openrouter-v1-2026-04-14",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "659c10ce91dda1bd1762bb0a7ad98f5737c2d03166dda8d31d013fa0439a9286"
  },
  "id": "acd_openrouter_parecer_tcu",
  "tags": [
    "openrouter",
    "nvidia",
    "tcu",
    "rag"
  ]
}