RAG TCU - Parecer Técnico (1).json
{
  "name": "RAG TCU - Parecer Técnico",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-tcu",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fa568de7-c9aa-4be9-acfa-cc2fd9bf163b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "ae610e15-6290-4764-868c-7f8ee425ebb9"
    },

    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn [{ json: {\n  titulo:     body.titulo     || 'Não informado',\n  problema:   body.problema   || body.descricao || 'Não informado',\n  descricao:  body.descricao  || '',\n  user:       body.user       || '',\n  parecer_id: body.parecer_id || ''\n}}];"
      },
      "id": "7d2fb73d-5372-4bac-8ca5-281924d63d7b",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.problema }}",
        "options": {
          "systemMessage": "### EXTRATOR DE TERMOS JURÍDICOS — OUTPUT MACHINE ###\n\nOUTPUT MUST BE RAW JSON ONLY. NO PREAMBLE. NO MARKDOWN. NO EXPLANATION. NO COMMENTS.\n\nVocê é um módulo de extração JSON para o banco de jurisprudência do TCU.\nLeia o problema jurídico e retorne APENAS um objeto JSON válido — nada mais.\n\nFORMATO EXATO DE SAÍDA (sem desvios):\n{\"domain\":\"string\",\"query_ilike\":\"string\",\"termos\":[\"string\"],\"confidence\":0.0}\n\nREGRAS:\n1. domain: área jurídica ampla em português (ex: \"licitações e contratos\").\n2. query_ilike: expressão FTS com termos-chave do TCU + operador OR para alternativas. SEM ASPAS no valor. SEM palavras genéricas como contrato ou serviço. Foque no cerne jurídico.\n3. termos: de 4 a 7 termos técnicos como array JSON.\n4. confidence: float 0.0 a 1.0.\n5. SEM vírgulas trailing. SEM comentários. SEM blocos markdown. Retorne SOMENTE o JSON cru.\n\nFEW-SHOT EXAMPLES (aprenda o padrão, não copie literalmente):\n\nInput: \"Empresa contratada superfaturou os preços de materiais em obras públicas\"\nOutput: {\"domain\":\"obras e engenharia\",\"query_ilike\":\"superfaturamento OR sobrepreço OR BDI obras\",\"termos\":[\"superfaturamento\",\"sobrepreço\",\"BDI excessivo\",\"medição\",\"aditivo contratual\"],\"confidence\":0.95}\n\nInput: \"Prefeitura dispensou licitação para software ERP proprietário alegando singularidade\"\nOutput: {\"domain\":\"licitações e contratos\",\"query_ilike\":\"dispensa OR inexigibilidade software singularidade\",\"termos\":[\"dispensa de licitação\",\"inexigibilidade\",\"software proprietário\",\"singularidade\",\"TI\"],\"confidence\":0.9}\n\nAgora processe o INPUT abaixo. Retorne APENAS o objeto JSON, nada mais:"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Agente 1 — Extrair Termos",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [460, 0]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5"
      },
      "id": "a1b2c3d4-llm1-0001-0001-000000000001",
      "name": "LLM Agente 1 — trocar modelo aqui",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [460, 200],
      "credentials": {
        "anthropicApi": {
          "id": "XJtM2su1qbhmFxu1",
          "name": "Anthropic account"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "// =======================================================\n// SUPER PARSER UNIVERSAL — Camada 1: Extração multi-caminho\n// Compatível com: Anthropic, OpenAI, OpenRouter, Llama, Mistral\n// =======================================================\nvar wb = $('Normalizar Input').first().json;\nvar r = $input.first().json;\nvar txt = '';\nif (typeof r.text === 'string' && r.text.trim()) { txt = r.text; }\nelse if (typeof r.output === 'string' && r.output.trim()) { txt = r.output; }\nelse if (r.message && typeof r.message.content === 'string') { txt = r.message.content; }\nelse if (r.choices && r.choices[0] && r.choices[0].message) { txt = '' + r.choices[0].message.content; }\nelse if (Array.isArray(r.content) && r.content[0]) { txt = r.content[0].text || ''; }\nelse if (typeof r.content === 'string') { txt = r.content; }\nelse { txt = JSON.stringify(r); }\n\n// QT = char 34 = \" | AP = char 39 = '\nvar QT = String.fromCharCode(34);\nvar AP = String.fromCharCode(39);\n\n// Camada 2: Sanitização — remove trailing commas (loop, sem regex)\nfunction removeTrailingCommas(str) {\n  var out = '';\n  for (var i = 0; i < str.length; i++) {\n    if (str[i] === ',') {\n      var j = i + 1;\n      while (j < str.length && str.charCodeAt(j) <= 32) j++;\n      if (j < str.length && (str[j] === '}' || str[j] === ']')) continue;\n    }\n    out += str[i];\n  }\n  return out;\n}\n\n// Sanitização — remove blocos de markdown (sem regex)\nfunction cleanText(raw) {\n  var s = raw;\n  var BT = String.fromCharCode(96);\n  var triple = BT + BT + BT;\n  var a, b;\n  while ((a = s.indexOf(triple)) >= 0) {\n    b = s.indexOf(triple, a + 3);\n    s = b >= 0 ? s.slice(0, a) + s.slice(b + 3) : s.slice(0, a) + s.slice(a + 3);\n  }\n  return removeTrailingCommas(s).trim();\n}\n\n// Camada 3: Parse com 3 tentativas de fallback\nvar q = null;\nvar cleaned = cleanText(txt);\ntry { q = JSON.parse(cleaned); } catch(e1) { q = null; }\n\nif (!q) {\n  var sa = cleaned.indexOf('{'), ea = cleaned.lastIndexOf('}');\n  if (sa >= 0 && ea > sa) {\n    try { q = JSON.parse(cleaned.slice(sa, ea + 1)); } catch(e2) { q = null; }\n  }\n}\n\nif (!q) {\n  var sb = txt.indexOf('{'), eb = txt.lastIndexOf('}');\n  if (sb >= 0 && eb > sb) {\n    try { q = JSON.parse(cleanText(txt.slice(sb, eb + 1))); } catch(e3) { q = null; }\n  }\n}\n\n// Camada 4: Extração heurística por indexação manual (sem regex)\nvar pMode = q ? 'json' : 'heuristic';\nif (!q) {\n  q = { domain: '', query_ilike: '', termos: [], confidence: 0.3 };\n\n  var k1 = QT + 'query_ilike' + QT, i1 = txt.indexOf(k1);\n  if (i1 >= 0) {\n    var c1 = txt.indexOf(':', i1 + k1.length);\n    var p1 = txt.indexOf(QT, c1 + 1), p2 = txt.indexOf(QT, p1 + 1);\n    if (p1 >= 0 && p2 > p1) q.query_ilike = txt.slice(p1 + 1, p2);\n  }\n\n  var k2 = QT + 'termos' + QT, i2 = txt.indexOf(k2);\n  if (i2 >= 0) {\n    var c2 = txt.indexOf('[', i2 + k2.length);\n    var p3 = txt.indexOf(']', c2 + 1);\n    if (c2 >= 0 && p3 > c2) {\n      q.termos = txt.slice(c2 + 1, p3)\n        .split(',')\n        .map(function(t) { return t.split(QT).join('').trim(); })\n        .filter(function(t) { return t.length > 1; });\n    }\n  }\n\n  var k3 = QT + 'domain' + QT, i3 = txt.indexOf(k3);\n  if (i3 >= 0) {\n    var c3 = txt.indexOf(':', i3 + k3.length);\n    var p5 = txt.indexOf(QT, c3 + 1), p6 = txt.indexOf(QT, p5 + 1);\n    if (p5 >= 0 && p6 > p5) q.domain = txt.slice(p5 + 1, p6);\n  }\n}\n\n// Limpeza final e geração do fallback de query\nvar qi = (q.query_ilike || '').split(QT).join('').split(AP).join('').trim();\nif (!qi || qi.length < 3) {\n  qi = (Array.isArray(q.termos) && q.termos.length > 0)\n    ? q.termos.slice(0, 3).join(' OR ')\n    : 'licitacao OR dispensa OR inexigibilidade';\n  pMode += '+fallback';\n}\n\nreturn [{ json: {\n  query_ilike:  qi,\n  termos:       Array.isArray(q.termos) ? q.termos : [],\n  confidence:   typeof q.confidence === 'number' ? q.confidence : 0.5,\n  domain:       q.domain || '',\n  _parser_mode: pMode,\n  titulo:       wb.titulo,\n  problema:     wb.problema,\n  descricao:    wb.descricao,\n  user:         wb.user,\n  parecer_id:   wb.parecer_id\n}}];"
      },
      "id": "42300a58-930a-426b-8ce9-1305bf8c36ea",
      "name": "Formatar Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 0]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://yojodrqykuhytdemmrsr.supabase.co/rest/v1/rpc/search_jurisprudencia_v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlvam9kcnF5a3VoeXRkZW1tcnNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2OTA1OTgsImV4cCI6MjA4NzI2NjU5OH0.R98fcu5iEzhDotFIiqT8e4rzcJELon2p2sqBMw-sja0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlvam9kcnF5a3VoeXRkZW1tcnNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2OTA1OTgsImV4cCI6MjA4NzI2NjU5OH0.R98fcu5iEzhDotFIiqT8e4rzcJELon2p2sqBMw-sja0" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $json.query_ilike }}" }
          ]
        },
        "options": {}
      },
      "id": "14e6c831-2fa5-4e8c-ab37-e9127f2534e1",
      "name": "Buscar no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 0],
      "alwaysOutputData": true
    },

    {
      "parameters": {
        "jsCode": "var resultados = $input.all();\nvar qn = $('Formatar Query').first().json;\nvar docs = [];\nif (resultados && resultados.length > 0) {\n  if (resultados.length === 1 && Array.isArray(resultados[0].json)) {\n    docs = resultados[0].json;\n  } else {\n    docs = resultados.map(item => item.json).filter(doc => Object.keys(doc).length > 0);\n  }\n}\n\nfunction stripHtml(html) {\n   if (!html) return '';\n   return html.replace(/<[^>]*>?/gm, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nvar contexto = docs.slice(0, 10).map(function(doc, i) {\n  var numStr = stripHtml(doc.numero || 'S/N');\n  if (numStr.length > 100) { numStr = numStr.substring(0, 80) + '...'; }\n  var ementaLimpa = stripHtml(doc.ementa || 'Sem ementa');\n  var trecho = stripHtml(doc.snippet || '');\n  var res = '[' + (i+1) + '] Acórdão/Decisão ' + numStr + ' — ' + (doc.orgao||'') + ' (' + (doc.ano||doc.data_pub||'s/d') + ')\\n';\n  res += 'Ementa: ' + ementaLimpa + '\\n';\n  if (trecho) { res += 'Trecho relevante do Inteiro Teor: [...] ' + trecho + ' [...]'; }\n  return res;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{ json: {\n  problema:                qn.problema,\n  titulo:                  qn.titulo,\n  descricao:               qn.descricao,\n  user:                    qn.user,\n  parecer_id:              qn.parecer_id,\n  termos_buscados:         qn.termos,\n  total_encontrado:        docs.length,\n  contexto_jurisprudencia: contexto\n}}];"
      },
      "id": "972ea061-5ddc-45fc-a9c4-57fcb16b3906",
      "name": "Formatar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 0]
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=TÍTULO: {{ $json.titulo }}\n\nPROBLEMA:\n{{ $json.problema }}\n\nCONTEXTO JURISPRUDENCIAL ({{ $json.total_encontrado }} documentos encontrados):\n{{ $json.contexto_jurisprudencia }}",
        "options": {
          "systemMessage": "Como especialista sênior em Direito Administrativo, elabore um parecer técnico detalhado e objetivo. Baseie-se EXCLUSIVAMENTE no contexto jurisprudencial fornecido.\n\nRegras:\n- Não inventar acórdãos, súmulas ou jurisprudência.\n- Citar expressamente o número de cada decisão mencionada.\n- Se o contexto for insuficiente, declarar explicitamente a limitação.\n- Linguagem formal, objetiva, técnica. Sem opinião pessoal. Sem mencionar que é IA.\n\nEstrutura obrigatória (Markdown):\n\n# 1. RELATÓRIO\nSíntese objetiva do problema jurídico.\n\n# 2. FUNDAMENTAÇÃO\n## 2.1 Jurisprudência Aplicável\nAnálise dos entendimentos do TCU presentes no contexto.\n## 2.2 Análise do Caso Concreto\nAplicação dos entendimentos ao caso.\n\n# 3. CONCLUSÃO\nA conduta é: PERMITIDA / VEDADA / CONDICIONADA — com fundamento."
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Agente 2 — Gerar Parecer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1420, 0]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5"
      },
      "id": "a1b2c3d4-llm2-0002-0002-000000000002",
      "name": "LLM Agente 2 — trocar modelo aqui",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1420, 200],
      "credentials": {
        "anthropicApi": {
          "id": "XJtM2su1qbhmFxu1",
          "name": "Anthropic account"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "var r = $input.first().json;\nvar parecer = r.text || r.output || (r.content && r.content[0] && r.content[0].text) || JSON.stringify(r);\nreturn [{ json: { output: parecer } }];"
      },
      "id": "70161167-0f2b-46bc-ac7f-f57593909118",
      "name": "Extrair Parecer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 0]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type",                "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "2b796842-c522-46d3-9785-9b53c57b30aa",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1900, 0]
    }
  ],

  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalizar Input", "type": "main", "index": 0 }]]
    },
    "Normalizar Input": {
      "main": [[{ "node": "Agente 1 — Extrair Termos", "type": "main", "index": 0 }]]
    },
    "LLM Agente 1 — trocar modelo aqui": {
      "ai_languageModel": [[{ "node": "Agente 1 — Extrair Termos", "type": "ai_languageModel", "index": 0 }]]
    },
    "Agente 1 — Extrair Termos": {
      "main": [[{ "node": "Formatar Query", "type": "main", "index": 0 }]]
    },
    "Formatar Query": {
      "main": [[{ "node": "Buscar no Supabase", "type": "main", "index": 0 }]]
    },
    "Buscar no Supabase": {
      "main": [[{ "node": "Formatar Contexto", "type": "main", "index": 0 }]]
    },
    "Formatar Contexto": {
      "main": [[{ "node": "Agente 2 — Gerar Parecer", "type": "main", "index": 0 }]]
    },
    "LLM Agente 2 — trocar modelo aqui": {
      "ai_languageModel": [[{ "node": "Agente 2 — Gerar Parecer", "type": "ai_languageModel", "index": 0 }]]
    },
    "Agente 2 — Gerar Parecer": {
      "main": [[{ "node": "Extrair Parecer", "type": "main", "index": 0 }]]
    },
    "Extrair Parecer": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },

  "pinData": {},
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "f7a7be7f-c734-497b-bf06-af0b9cd9b4d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "659c10ce91dda1bd1762bb0a7ad98f5737c2d03166dda8d31d013fa0439a9286"
  },
  "id": "acd_d20_HTwEaFErc8qMV",
  "tags": []
}