RAG TCU - Parecer Técnico (1).json
{
  "name": "RAG TCU - Parecer Técnico",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-tcu",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fa568de7-c9aa-4be9-acfa-cc2fd9bf163b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "ae610e15-6290-4764-868c-7f8ee425ebb9"
    },

    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn [{ json: {\n  titulo:     body.titulo     || 'Não informado',\n  problema:   body.problema   || body.descricao || 'Não informado',\n  descricao:  body.descricao  || '',\n  user:       body.user       || '',\n  parecer_id: body.parecer_id || ''\n}}];"
      },
      "id": "7d2fb73d-5372-4bac-8ca5-281924d63d7b",
      "name": "Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.problema }}",
        "options": {
          "systemMessage": "### EXTRATOR DE TERMOS JURÍDICOS PARA RAG ###\n\nVocê é um módulo especializado em extrair termos jurídicos para pesquisas em bancos de jurisprudência do TCU via Full-Text Search.\n\nRetorne APENAS um JSON válido. Sem explicações. Sem markdown.\n\nFormato de saída:\n{\"domain\":\"string\",\"query_ilike\":\"string\",\"termos\":[\"string\"],\"confidence\":0.0}\n\nRegras:\n1. domain: área jurídica ampla.\n2. query_ilike: Expressão de busca inteligente focada na solução do dilema. Use termos cruciais e o operador OR para alternativas. Exemplo de formato: terceirização OR serviço aquisição OR equipamento (ATENÇÃO: NÃO USE ASPAS na expressão gerada de jeito nenhum, use apenas palavras soltas e o operador OR em maiúsculo). Não use palavras genéricas, foque no cerne da questão jurídica.\n3. termos: de 4 a 7 termos complementares."
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Agente 1 — Extrair Termos",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [460, 0]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5"
      },
      "id": "a1b2c3d4-llm1-0001-0001-000000000001",
      "name": "LLM Agente 1 — trocar modelo aqui",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [460, 200],
      "credentials": {
        "anthropicApi": {
          "id": "XJtM2su1qbhmFxu1",
          "name": "Anthropic account"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "var r = $input.first().json;\nvar txt = r.text || r.output || (r.content && r.content[0] && r.content[0].text) || JSON.stringify(r);\n\nvar q = { termos: [], query_ilike: 'contrato', confidence: 0.5, domain: '' };\nvar s = txt.indexOf('{'); var e = txt.lastIndexOf('}');\nif (s > -1 && e > s) { try { q = JSON.parse(txt.slice(s, e+1)); } catch(err) {} }\n\nvar wb = $('Normalizar Input').first().json;\nreturn [{ json: {\n  query_ilike: q.query_ilike || 'contrato',\n  termos:      q.termos      || [],\n  confidence:  q.confidence  || 0.5,\n  domain:      q.domain      || '',\n  titulo:      wb.titulo,\n  problema:    wb.problema,\n  descricao:   wb.descricao,\n  user:        wb.user,\n  parecer_id:  wb.parecer_id\n}}];"
      },
      "id": "42300a58-930a-426b-8ce9-1305bf8c36ea",
      "name": "Formatar Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 0]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://yojodrqykuhytdemmrsr.supabase.co/rest/v1/rpc/search_jurisprudencia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "sb_publishable_-XDy8m1iTYXlf-hayQzgTQ_agv5OggW" },
            { "name": "Authorization", "value": "Bearer sb_publishable_-XDy8m1iTYXlf-hayQzgTQ_agv5OggW" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $json.query_ilike }}" }
          ]
        },
        "options": {}
      },
      "id": "14e6c831-2fa5-4e8c-ab37-e9127f2534e1",
      "name": "Buscar no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 0],
      "alwaysOutputData": true
    },

    {
      "parameters": {
        "jsCode": "var resultados = $input.all();\nvar qn = $('Formatar Query').first().json;\nvar docs = [];\nif (resultados && resultados.length > 0) {\n  if (resultados.length === 1 && Array.isArray(resultados[0].json)) {\n    docs = resultados[0].json;\n  } else {\n    docs = resultados.map(item => item.json).filter(doc => Object.keys(doc).length > 0);\n  }\n}\nvar contexto = docs.slice(0, 8).map(function(doc, i) {\n  return '[' + (i+1) + '] Acórdão/Decisão ' + (doc.numero||'') + ' — ' + (doc.orgao||'') + ' (' + (doc.ano||doc.data_pub||'s/d') + ')\\nEmenta: ' + (doc.ementa||'Sem ementa');\n}).join('\\n\\n---\\n\\n');\nreturn [{ json: {\n  problema:               qn.problema,\n  titulo:                 qn.titulo,\n  descricao:              qn.descricao,\n  user:                   qn.user,\n  parecer_id:             qn.parecer_id,\n  termos_buscados:        qn.termos,\n  total_encontrado:       docs.length,\n  contexto_jurisprudencia: contexto\n}}];"
      },
      "id": "972ea061-5ddc-45fc-a9c4-57fcb16b3906",
      "name": "Formatar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 0]
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=TÍTULO: {{ $json.titulo }}\n\nPROBLEMA:\n{{ $json.problema }}\n\nCONTEXTO JURISPRUDENCIAL ({{ $json.total_encontrado }} documentos encontrados):\n{{ $json.contexto_jurisprudencia }}",
        "options": {
          "systemMessage": "Como especialista sênior em Direito Administrativo, elabore um parecer técnico detalhado e objetivo. Baseie-se EXCLUSIVAMENTE no contexto jurisprudencial fornecido.\n\nRegras:\n- Não inventar acórdãos, súmulas ou jurisprudência.\n- Citar expressamente o número de cada decisão mencionada.\n- Se o contexto for insuficiente, declarar explicitamente a limitação.\n- Linguagem formal, objetiva, técnica. Sem opinião pessoal. Sem mencionar que é IA.\n\nEstrutura obrigatória (Markdown):\n\n# 1. RELATÓRIO\nSíntese objetiva do problema jurídico.\n\n# 2. FUNDAMENTAÇÃO\n## 2.1 Jurisprudência Aplicável\nAnálise dos entendimentos do TCU presentes no contexto.\n## 2.2 Análise do Caso Concreto\nAplicação dos entendimentos ao caso.\n\n# 3. CONCLUSÃO\nA conduta é: PERMITIDA / VEDADA / CONDICIONADA — com fundamento."
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Agente 2 — Gerar Parecer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1420, 0]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5"
      },
      "id": "a1b2c3d4-llm2-0002-0002-000000000002",
      "name": "LLM Agente 2 — trocar modelo aqui",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1420, 200],
      "credentials": {
        "anthropicApi": {
          "id": "XJtM2su1qbhmFxu1",
          "name": "Anthropic account"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "var r = $input.first().json;\nvar parecer = r.text || r.output || (r.content && r.content[0] && r.content[0].text) || JSON.stringify(r);\nreturn [{ json: { output: parecer } }];"
      },
      "id": "70161167-0f2b-46bc-ac7f-f57593909118",
      "name": "Extrair Parecer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 0]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type",                "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "2b796842-c522-46d3-9785-9b53c57b30aa",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1900, 0]
    }
  ],

  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalizar Input", "type": "main", "index": 0 }]]
    },
    "Normalizar Input": {
      "main": [[{ "node": "Agente 1 — Extrair Termos", "type": "main", "index": 0 }]]
    },
    "LLM Agente 1 — trocar modelo aqui": {
      "ai_languageModel": [[{ "node": "Agente 1 — Extrair Termos", "type": "ai_languageModel", "index": 0 }]]
    },
    "Agente 1 — Extrair Termos": {
      "main": [[{ "node": "Formatar Query", "type": "main", "index": 0 }]]
    },
    "Formatar Query": {
      "main": [[{ "node": "Buscar no Supabase", "type": "main", "index": 0 }]]
    },
    "Buscar no Supabase": {
      "main": [[{ "node": "Formatar Contexto", "type": "main", "index": 0 }]]
    },
    "Formatar Contexto": {
      "main": [[{ "node": "Agente 2 — Gerar Parecer", "type": "main", "index": 0 }]]
    },
    "LLM Agente 2 — trocar modelo aqui": {
      "ai_languageModel": [[{ "node": "Agente 2 — Gerar Parecer", "type": "ai_languageModel", "index": 0 }]]
    },
    "Agente 2 — Gerar Parecer": {
      "main": [[{ "node": "Extrair Parecer", "type": "main", "index": 0 }]]
    },
    "Extrair Parecer": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },

  "pinData": {},
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "f7a7be7f-c734-497b-bf06-af0b9cd9b4d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "659c10ce91dda1bd1762bb0a7ad98f5737c2d03166dda8d31d013fa0439a9286"
  },
  "id": "acd_d20_HTwEaFErc8qMV",
  "tags": []
}